<template name="header">
<!--   <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'chat'}}">Textr</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav> -->

  <div class="header">
    <div class="team-menu">{{> loginButtons}}</div>
    <div class="channel-menu">
      <span class="channel-menu_name">
        <span class="channel-menu_prefix">#</span>
        Utilisateur
      </span>
    </div>
  </div>
</template>